<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.ddvoice">

    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" -->
    <!-- tools:ignore="ProtectedPermissions"></uses-permission> -->


    <!-- 允许程序改变网络连接状态 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> -->
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- call -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- send sms -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS"/> -->
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS"/> -->
    <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- &lt;!&ndash;外存储读权限，构建语法需要用到此权限 &ndash;&gt; -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <!-- <uses-feature android:name="android.hardware.camera" /> -->


    <!-- act：android.media.action.STILL_IMAGE_CAMERA_SECURE -->
    <!--<uses-permission android:name="com.huawei.camera.permission.PRIVATE"/> don't work-->

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- <meta-data -->
        <!-- android:name="com.baidu.speech.APP_ID" -->
        <!-- android:value="11676579"/> -->
        <!-- <meta-data -->
        <!-- android:name="com.baidu.speech.API_KEY" -->
        <!-- android:value="6kZVDwPB3CB4MK7E9BDafUuL"/> -->
        <!-- <meta-data -->
        <!-- android:name="com.baidu.speech.SECRET_KEY" -->
        <!-- android:value="ZjpCq3X6kQ5pbxieI07LmrPKkZWPCp0P"/> -->

        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="539e78ed"/>
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="6d9beefcf0"/>

        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="show_wake_up_tip"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewAct"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="STOP_WEB_ACT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- <receiver android:name=".ScreenOnBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- <action android:name="android.intent.action.ACTION_SCREEN_ON"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name=".MyAccessibilityService"
            android:label="小美语音助手"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <receiver
            android:name=".receiver.BootCompletedBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.UnlockReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE_2"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.PHONE_STATE2"/>
                <action android:name="android.intent.action.PHONE_STATE_EXT"/>
                <action android:name="android.intent.action.DUAL_PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AppReceiver">
            <intent-filter>

                <!-- 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） -->
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <!-- 一个新版本的应用安装到设备，替换之前已经存在的版本  替换时会先收到卸载的再收到替换的， 替换自身也能收到 -->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <!-- 一个已存在的应用程序包已经从设备上移除，包括包名（卸载监听所在的app，则无法接收到） -->
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity
            android:excludeFromRecents="true"
            android:name=".ExecCmdActivity"
            android:label="@string/title_activity_exec_cmd"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
        </activity>
        <activity
            android:excludeFromRecents="true"
            android:name=".PreferencesActivity"
            android:label="设置"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>